@import 'palette';

.about_me {
  background: $snow;

  .second-block{
    border-radius: 10px;
    background: $indigo;
    color: $snow;
    text-align: right;
    overflow: auto;
    img {
      height: 25vh;
      width: auto;
      float: left;
      margin-right: 5rem;

    }

    p {
      text-align: justify;
    }
  }

  .third-block {
    border-radius: 10px;
    background: $darkblue;
    color: $snow;
    text-align: left;
    overflow: auto;
    img {
      height: 25vh;
      width: auto;
      float: right;
      margin-left: 5rem;

    }

    p {
      text-align: justify;
    }
  }
}

