@import 'header';
@import 'palette';
@import 'about_me';
@import 'projects';
@import 'project';

.all{
  color: $darkblue;
  font-family: 'Karla';
  font-size: 1.4rem;

  h1 {
    color: $indigo;
    font-size: 3.5rem;
  }

  h2 {
    color: $indigo;
    font-size: 3rem;
  }

  h3 {
    color: $indigo;
    font-size: 2.5rem;
    font-style: italic;
  }

  h4 {
    color: $indigo;
    font-size: 2rem;
  }

  h5 {
    color: $indigo;
    font-size: 1.5rem;
  }
}

