@import 'palette';

.project {
  img {
    height: 30vh;
    object-fit: contain;
  }

  .dot {
    height: 1rem;
    width: 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .description {
    font-size: 0.8em;
    text-align: justify;
  }

  .name {
    display: inline;
    float: left;
  }

  .date {
    display: inline;
    float: right;
    font-style: italic;
  }

  .card-header {
    background: $darkblue;
    color: $snow;
  }

  figure{
    margin-top: 30%;
    margin-left: 86%;
    transform: translate(-50%,-50%);
    position: absolute;
  }

  figcaption{
    background: $darkblue;
    border-radius: 1rem;
    color: $snow;
    text-align: center;
    font-size: 0.9rem
  }

  .badge-image{
    width: 7rem;
    height: 7rem;
    cursor: pointer;


    border-radius: 50%;
    object-fit: cover;
    border: 2px solid $darkblue;
  }

  .badge-image:hover{
    filter: blur(3px);
    transition: 200ms;
  }


}