@import 'palette';

.project {
  img {
    height: 30vh;
    object-fit: contain;
  }

  .dot {
    height: 1rem;
    width: 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .description {
    font-size: 0.8em;
    text-align: justify;

  }

}